.heatmap {
  position: relative;
  display: inline-block;
}

.heatmap::before,
.heatmap::after {
  color: #38415b;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
}

.heatmap::before {
  content: "osinko";
}

.heatmap::after {
  content: "palkka";
  text-align: center;
  margin-left: 35px;
  display: block;
}

.heatmap-data {
  border-spacing: 6px;
  border-collapse: separate;
  align-self: center;
}

.heatmap-data + label {
  text-align: center;
  display: block;
  margin-left: 32px;
}

.heatmap-data th {
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 0 4px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

.heatmap-data td:not(:first-child) {
  background: #efefef;
  border-radius: 9px;
  width: 32px;
  height: 32px;
  transition: transform 300ms;
  animation: appear 600ms linear;
  text-align: center;
}

.heatmap-data td:not(:first-child):hover {
  transform: scale(1.1, 1.1);
}

.heatmap-data td:not(:first-child) svg {
  fill: #fff;
  width: 20px;
  vertical-align: middle;
}

.heatmap-data td.heatmap-cell--high {
  background: #ff553e;
}
.heatmap-data td.heatmap-cell--medium {
  background: #ffac05;
}
.heatmap-data td.heatmap-cell--ideal {
  background: #00d880;
}
.heatmap-data td.heatmap-cell--cheapest {
  background: #f4ddd2;
}
.heatmap-data td.heatmap-cell--low {
  background: #b3ffba;
}
.heatmap-data td.heatmap-cell--disabled {
  opacity: 0.5;
}

.heatmap-data td.heatmap-cell--cheapest svg {
  vertical-align: -4px;
}
