@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Rubik:500,700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #606060;
  font-size: 18px;
}

body {
  padding: 2rem 1rem;
  margin: 0;
}

h1,
h2 {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 48px;
  color: #00d880;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  color: #38415b;
  margin-top: 2rem;
}

h1 + h2 {
  margin-top: 0em;
  color: #00d880;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
}

label {
  font-family: "Rubik", sans-serif;
  color: #818388;
  font-size: 13px;
  text-transform: uppercase;
}

.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-item:nth-of-type(1) {
  margin-top: calc(1em + 2px);
}

.form-item + .form-item {
  margin-top: 2em;
}

.input {
  display: flex;
  position: relative;
}
.header {
  display: flex;
}

.language-select {
  flex-shrink: 0;
}

.language {
  border: 0;
  font: inherit;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.number-input {
  border: 0;
  width: 100%;
  font-size: 48px;
  border-bottom: 2px solid #eee;
  color: #38415b;
  font-family: "Rubik", sans-serif;
  text-align: right;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1em;
}
.number-input:focus {
  outline: none;
  border-bottom: 2px solid #f3ddd1;
}
.input::after {
  content: "€";
  font-size: 48px;
  color: #38415b;
  font-family: "Rubik", sans-serif;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100%);
}

.number-input::placeholder {
  color: #e5e5e5;
}

.chart label {
  display: block;
  text-align: right;
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  text-transform: none;
  font-size: 15px;
}

.chart {
  margin-bottom: 2em;
  margin-top: 1em;
}

.svg-container {
  position: relative;
}

/* Tooltip */

.__react_component_tooltip.type-dark {
  background: #38415b;
  font-family: "Poppins", sans-serif;
  color: #d3d3d3;
  border-radius: 10px;
  padding: 1.5em 1em;
  font-size: 14px;
}
.__react_component_tooltip.show {
  opacity: 1;
}
.__react_component_tooltip.type-dark.place-top:after {
  border-top-color: #38415b;
}

/* Card */
.card {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 28px;
  border-radius: 20px;
  padding: 1em 1em;
}
.card--disabled {
  opacity: 0.5;
}
.card + .card {
  margin-top: 1rem;
}

.card--ideal {
  background: linear-gradient(
    116.5deg,
    hsl(156, 100%, 42%) 0%,
    hsla(156, 100%, 40%, 1) 100%
  );
}

.card--cheapest {
  background: linear-gradient(116.5deg, #f4ddd2 0%, #f0d0c2 100%);
}

.card--worst {
  background: linear-gradient(116.5deg, #f0ccd8 0%, #ecbfce 100%);
}

.card__title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 0;
}

.card__value {
  color: #38415b;
}

@media (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 1em;
  }
  .card {
    grid-row: 1;
  }
  .card + .card {
    margin: 0;
  }
  .cards p {
    grid-column: 1 / 4;
  }
}

rect {
  pointer-events: all;
}

@media (min-width: 800px) {
  .main {
    grid-template-columns: 420px auto;
    display: grid;
    grid-gap: 4em;
  }

  section,
  header,
  footer {
    max-width: 1000px;
    margin: auto;
  }
  .form-item + .form-item {
    margin-top: 1em;
  }
  .calculated {
    display: flex;
  }
}

.calculations {
  background: #fafafa;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1em 1.5em;
  margin-top: 3em;
}

.calculation {
  color: #fff;
}

.calculation__total {
  font-size: 16px;
  font-weight: 700;
}

.calculation__value {
  text-align: right;
}

.calculation table {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.reference {
  display: none;
}
@media (min-width: 800px) {
  .reference {
    display: block;
  }
}
.reference-table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border-radius: 12px;
}
.reference-table--disabled {
  opacity: 0.5;
}

.reference-table td {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background: #fff;
}

.reference-table td,
.reference-table th {
  text-align: right;
  padding: 0.5em 1em;
  max-width: 100%;
  white-space: nowrap;
  border-bottom: 1px solid #f1f3f5;
}

.reference-table td:first-child,
.reference-table th:first-child {
  padding-left: 2em;
}
.reference-table td:last-child,
.reference-table th:last-child {
  padding-right: 2em;
}

.reference-table th {
  background: #f2f5f7;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-bottom: 0.5em;
  white-space: nowrap;
  padding: 1.5em 1em;
}
.reference-table th:first-child {
  border-top-left-radius: 12px;
}
.reference-table th:last-child {
  border-top-right-radius: 12px;
}
.reference-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.reference-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.reference-table tr:last-child td {
  border-bottom: 0;
}
/* .reference-table tbody td:nth-child(6),
.reference-table tbody td:nth-child(7) {
  background: #efefef;
} */
.reference-table__tax {
  font-size: 13px;
}
.reference-table svg {
  width: 1em;
}

footer {
  margin-top: 3rem;
  font-size: 12px;
  text-align: center;
}

.btn {
  border: 0;
  background: linear-gradient(
    116.5deg,
    hsl(156, 100%, 42%) 0%,
    hsla(156, 100%, 40%, 1) 100%
  );
  padding: 1rem 4rem;
  border-radius: 25px;
  color: #fff;
  margin: auto;
  margin-top: 2rem;
  display: block;
  width: 150px;
  text-align: center;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
